<aside class="sidebar">
  <div id="inner-sidebar">
    <nav>
      <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/admin-dashboard">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/protected-resource">Protected Resource</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/protected-path">Protected Path</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/schedule-exam">Schedule Exam</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/location">Location</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/editSubject">Edit Subject</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/edit-structure">Edit Structure</a></li>
      </ul>
    </nav>
  </div>
</aside>
