<aside class="sidebar">
  <div id="inner-sidebar">
    <nav>
      <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/location" routerLinkActive="active">Location</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/schedule-exam" routerLinkActive="active">Schedule Exam</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/edit-subject" routerLinkActive="active">Edit Subject</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/edit-structure" routerLinkActive="active">Edit Structure</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/exam-criteria" routerLinkActive="active">Exam Criteria</a></li>
      </ul>
    </nav>
  </div>
</aside>
